.foodList {
    padding: 116px 0 102px 0;
}
.container {
}
.foodList__inner {
}
.foodList__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.foodList__card {
    background: #312F30;
    border-radius: 10px;
    max-width: 262px;
    text-align: center;
    cursor: pointer;
}
.foodList__picture {
    width: 262px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}
.foodList__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 29px 0 13px 0;
}
.foodList__card-subtitle {
    padding-bottom: 35px;
    max-width: 224px;
    margin: 0 auto;
}